<section class="card-small-list">
  <div class="wrapper">
    <h2>Overview - Today</h2>
    <div class="grid">
      <article class="card-small">
        <div class="card-small-title">
          Page views
        </div>
        <div class="card-small-social">
          <img src="./images/icon-facebook.svg" alt="" />
        </div>
        <div class="card-small-number">
          87
        </div>
        <div class="card-small-percentage">
          <div class="card-small-percentage-ctn">
            <img src="./images/icon-up.svg" alt="" />
            <span class="percentage"> 2 %</span>
          </div>
        </div>
      </article>
      <article class="card-small">
        <div class="card-small-title">
          Likes
        </div>
        <div class="card-small-social">
          <img src="./images/icon-facebook.svg" alt="" />
        </div>
        <div class="card-small-number">
          52
        </div>
        <div class="card-small-percentage">
          <div class="card-small-percentage-ctn">
            <img src="./images/icon-down.svg" alt="" />
            <span class="percentage danger"> 2 %</span>
          </div>
        </div>
      </article>
      <article class="card-small">
        <div class="card-small-title">
          Likes
        </div>
        <div class="card-small-social">
          <img src="./images/icon-instagram.svg" alt="" />
        </div>
        <div class="card-small-number">
          5462
        </div>
        <div class="card-small-percentage">
          <div class="card-small-percentage-ctn">
            <img src="./images/icon-up.svg" alt="" />
            <span class="percentage"> 2256 %</span>
          </div>
        </div>
      </article>
      <article class="card-small">
        <div class="card-small-title">
          Profile views
        </div>
        <div class="card-small-social">
          <img src="./images/icon-instagram.svg" alt="" />
        </div>
        <div class="card-small-number">
          52k
        </div>
        <div class="card-small-percentage">
          <div class="card-small-percentage-ctn">
            <img src="./images/icon-up.svg" alt="" />
            <span class="percentage"> 1375 %</span>
          </div>
        </div>
      </article>
      <article class="card-small">
        <div class="card-small-title">
          Retweets
        </div>
        <div class="card-small-social">
          <img src="./images/icon-twitter.svg" alt="" />
        </div>
        <div class="card-small-number">
          117
        </div>
        <div class="card-small-percentage">
          <div class="card-small-percentage-ctn">
            <img src="./images/icon-up.svg" alt="" />
            <span class="percentage"> 303 %</span>
          </div>
        </div>
      </article>
      <article class="card-small">
        <div class="card-small-title">
          Likes
        </div>
        <div class="card-small-social">
          <img src="./images/icon-twitter.svg" alt="" />
        </div>
        <div class="card-small-number">
          507
        </div>
        <div class="card-small-percentage">
          <div class="card-small-percentage-ctn">
            <img src="./images/icon-up.svg" alt="" />
            <span class="percentage"> 553 %</span>
          </div>
        </div>
      </article>
      <article class="card-small">
        <div class="card-small-title">
          Likes
        </div>
        <div class="card-small-social">
          <img src="./images/icon-youtube.svg" alt="" />
        </div>
        <div class="card-small-number">
          107
        </div>
        <div class="card-small-percentage">
          <div class="card-small-percentage-ctn">
            <img src="./images/icon-down.svg" alt="" />
            <span class="percentage danger"> 19 %</span>
          </div>
        </div>
      </article>
      <article class="card-small">
        <div class="card-small-title">
          Total views
        </div>
        <div class="card-small-social">
          <img src="./images/icon-youtube.svg" alt="" />
        </div>
        <div class="card-small-number">
          1407
        </div>
        <div class="card-small-percentage">
          <div class="card-small-percentage-ctn">
            <img src="./images/icon-down.svg" alt="" />
            <span class="percentage danger"> 12 %</span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
