<section class="card-list">
  <div class="wrapper">
    <div class="grid">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <!-- 
      <article class="card twitter">
        <div class="card-header">
          <img src="./images/icon-twitter.svg" alt="social-logo" />
          @AndreFontaine
        </div>
        <div class="card-number">
          28k
        </div>
        <div class="card-title">
          Followers
        </div>
        <div class="card-today">
          <img src="./images/icon-up.svg" alt="up-icon" />
          1229 Today
        </div>
      </article>

      <article class="card instagram">
        <div class="card-header">
          <img src="./images/icon-instagram.svg" alt="social-logo" />
          @__SrGonzalez
        </div>
        <div class="card-number">
          6k
        </div>
        <div class="card-title">
          Followers
        </div>
        <div class="card-today">
          <img src="./images/icon-up.svg" alt="up-icon" />
          121 Today
        </div>
      </article>

      <article class="card youtube">
        <div class="card-header">
          <img src="./images/icon-youtube.svg" alt="social-logo" />
          @Andrés González
        </div>
        <div class="card-number">
          12K
        </div>
        <div class="card-title">
          Followers
        </div>
        <div class="card-today">
          <img src="./images/icon-up.svg" alt="up-icon" />
          877 Today
        </div>
      </article> -->
    </div>
  </div>
</section>
